<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/x-icon" rel="shortcut icon" href="/images/favicon.ico">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>{{ .Title }}</title>
    <meta name="description" content="Renta mi cuarto mientras estoy de viaje" />
    <meta property="og:title" content="{{ .Title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://fostr.life/images/ogimage.jpg" />
    <meta property="og:url" content="https://fostr.life" />
    <meta property="og:description" content="Renta mi cuarto mientras estoy de viaje" />

    <meta property="twitter:creator" content="Renta mi cuarto mientras estoy de viaje" />
    <meta name="twitter:card" value="Renta mi cuarto mientras estoy de viaje">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">

    <script src="https://use.typekit.net/rkk2hvp.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66919923-7', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    {{ partial "navbar" . }}