{{ partial "head" . }}
<div class="main landing">

<section class="hero">
	<div class="welcome">
		<h1>Renta mi cuarto mientras estoy de viaje</h1>
		<p class="display-4">
			Disfruta vivir en Santiago mientras estoy de viaje y ayudame a seguir caminando.</p>

		<a href="#pricing" class="button cta">Cómo Reservar</a>

	</div>
</section>

<section id="pricing" class="story">
	<div class="inner">
		<h2>🗞 Pricing</h2>
		
		<div class="pricingcards">
			<div class="pricingcard">
			<h3>$ 12.500 CLP</h3>
			<small>per night</small>
			</div>
			<div class="pricingcard">
			<h3>$ 10.000 CLP</h3>
			<small>per night * Week</small>
			</div>
			<br>
					<a href="whatsapp://send?text=Hello Washito!&phone=56998215973" class="mobile button cta">Reserva ahora</a>
					<!-- <p>Si quieres arrendar un mes, conversemos ;)</p> -->
		</div>
				
		<h2>🍻Cómo reservar</h2>
		<ul>
			<li>Agenda enviando mensaje WhatsApp <a style="color: #00f; display: inline;" href="whatsapp://send?text=Hello Washito!&phone=56998215973" >(+56 9) 98215973</a></li>
			<li>Depósito</li>
			<li>Recibe instrucciones 💌</li>
		</ul>

		<h2>🛋 Disponibilidad </h2>
		<h5><b>Agosto</b></h5>
		<div class="calendar">
			<ul class="calendar-inn agosto">
				<li class="take">01</li>
				<li class="take">02</li>
				<li class="take">03</li>
				<li class="take">04</li>
				<li class="take">05</li>
				<li class="take">06</li>
				<li class="take">07</li>
				<li class="take">08</li>
				<li class="take">09</li>
				<li class="take">10</li>
				<li class="take">11</li>
				<li class="take">12</li>
				<li class="available">13</li>
				<li class="available">14</li>
				<li class="available">15</li>
				<li class="available">16</li>
				<li class="available">17</li>
				<li class="available">18</li>
				<li class="available">19</li>
				<li class="available">20</li>
				<li class="available">21</li>
				<li class="available">22</li>
				<li class="available">23</li>
				<li class="available">24</li>
				<li class="available">25</li>
				<li class="available">26</li>
				<li class="available">27</li>
				<li class="available">28</li>
				<li class="available">29</li>
				<li class="available">30</li>
				<li class="available">31</li>
			</ul>

			<h5><b>Disponibilidad Septiembre</b></h5>
			<ul class="calendar-inn septiembre">
				<li class="available">01</li>
				<li class="available">02</li>
				<li class="available">03</li>
				<li class="available">04</li>
				<li class="available">05</li>
				<li class="available">06</li>
				<li class="available">07</li>
				<li class="available">08</li>
				<li class="available">09</li>
				<li class="available">10</li>
				<li class="available">11</li>
				<li class="available">12</li>
				<li class="available">13</li>
				<li class="available">14</li>
				<li class="available">15</li>
				<li class="available">16</li>
				<li class="available">17</li>
				<li class="available">18</li>
				<li class="available">19</li>
				<li class="available">20</li>
				<li class="available">21</li>
				<li class="available">22</li>
				<li class="available">23</li>
				<li class="available">24</li>
				<li class="available">25</li>
				<li class="available">26</li>
				<li class="available">27</li>
				<li class="available">28</li>
				<li class="available">29</li>
				<li class="available">30</li>
				<li class="available">31</li>
			</ul>
			<div class="explain">
				<small><div class="square a"></div>Disponible</small>
				<small><div class="square b"></div>No disponible</small>
			</div>
		</div>

		<h2>🔖 Normas de la casa</h2>
		<ul>
			<li>El que desordena ordena.</li>
			<li>Se buena onda con los Roomates</li>
			<li>Deja lavando sabanas, ordenar el cuarto y entregar las llaves.</li>
			<li>☠ Portate bien</li>
		</ul>
	</div>
</section>
<section class="story">
	<div class="inner">
		<h2>🛌 Qué hay en la pieza</h2>
		<ul>
			<li>Wifi | sietecerosuave @123123</li>
			<li>Cama 1.5plaza</li>
			<li>Calefactor</li>
			<li>Echufes</li>
			<li>Almohada extraña</li>
			<li>Covertores de pluma</li>
			<li>Lampara</li>
			<li>Velador</li>
			<li>Espejo</li>
		</ul>
	</div>
</section>
<section class="story">
	<div class="inner">
		<h2>📍 <b>Providencia</b> Seminario 143</h2>
		{{ partial "gif" . }}
		<p>
			Este Departamento fue construido en el año 1972 con destino habitacional, y al momento de su construcción se escogió Hormigón armado como el material que daría forma a esta propiedad.
		</p>
		<h2>📍 Qué hay cerca</h2>
		{{ partial "nearby" . }}
		<ul>
			<li>Parque Bustamante</li>
			<li>Farmacias</li>
			<li>Manu & Miño</li>
			<li>Bicicletas</li>
			<li>Supermercados</li>
			<li>Paraderos</li>
			<li>Cajero</li>
			<li>Restaurantes</li>
			<li>Barrio Italia</li>
			<li>Cielo, piso, tierra, hojas</li>
		</ul>
	</div>
</section>
<section class="story center callto">
	<small>13.08 ✈️ VALDIVIA</small>
	<h1>Renta mi cuarto mientras estoy de viaje</h1>
	<a href="#pricing" class="button cta">Reserva ahora</a>
</section>
{{ partial "footer" . }}
